### VSCODE ###
.vscode/


### PYTHON ###
__pycache__
.pytest_cache/


# weights file
*.onnx
*.pt
*.pth
*.ckpt


### BUILD ###
build/
univdt.egg-info/
data/


### PERSONAL ###
user-requirements.txt
tmp/
old.*.py

test_*.ipynb
custom_*.yaml
drafts/
