# personal
user-requirements.txt
test_*.ipynb
custom_*.yaml
mlruns/

# weights file
*.onnx
*.pt
*.pth
*.ckpt

# temporary files
__pycache__/

# 임시용!! 해당 파일들은 브랜치에서만 작업할 것
register.py
predict.py
export.py
test_*.png